<div class="mb-3" >
 
  <input type="text" [(ngModel)]="filterColorText" class="form-control" id="filterColorText"  placeholder="Search Color">
</div>


<div class="list-group">
    <a routerLink="/cars" (click)="clearCurrentColor()" [class]="currentAllColorClass()" aria-current="true">
      All Colors
    </a>
    <a *ngFor="let color of colors |filterColor:filterColorText" routerLink="/cars/color/{{color.colorId}}" (click)="setCurrentColor(color)" href="#" [class]="currentColorClass(color)">{{color.colorName}}</a>
 
  </div>
  <!-- <h1 *ngIf="currentColor" >{{currentColor.colorName}}</h1> -->