<div class="mb-3" >
 
  <input type="text" [(ngModel)]="filterBrandText" class="form-control" id="filterBrandText"  placeholder="Search Brand">
</div>

<div class="list-group">
    <a routerLink="/cars" [class]="currentAllBrandClass()" (click)="clearCurrentBrand()" aria-current="true">
      All Brands
    </a>
    <a *ngFor="let brand of brands | filterBrand:filterBrandText" routerLink="/cars/brand/{{brand.brandId}}" (click)="setCurrentBrand(brand)" [class]="currentBrandClass(brand)">{{brand.brandName}}</a>
 
  </div>
